<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="./css/style.css" />
   <link rel="stylesheet" href="./css/map.css" />
   <link rel="stylesheet" href="./css/lines.css" />
   <title>TTC Live Map</title>
</head>

<body>
   <div class="container">
      <div class="tag">TTC <strong>Live</strong></div>
      <svg width="100%" height="100%" id="map" x="0px" y="0px" viewBox="0 0 4650 2100"
         style="enable-background: new 0 0 4650 2100">
         <metadata pagecolor="#ffffff" objecttolerance="10" gridtolerance="10" guidetolerance="10" id="namedview2312"
            showgrid="false" />
         <g class="viewport" id="map-layer">
            <!-- Line 4 -->
            <line class="st25" x1="2868.2" y1="569.5" x2="2343.8" y2="569.5" id="line965" />

            <!-- Line 4 Trains -->
            <line opacity="0.5" class="train4" x1="2325" y1="569.5" x2="2365" y2="569.5" id="train401" />
            <line opacity="0.5" class="train4" x1="2325" y1="569.5" x2="2365" y2="569.5" id="train402" />
            <line opacity="0.5" class="train4" x1="2325" y1="569.5" x2="2365" y2="569.5" id="train403" />
            <line opacity="0.5" class="train4" x1="2325" y1="569.5" x2="2365" y2="569.5" id="train404" />

            <!-- Line 1 -->
            <line class="st5" x1="2343.8" y1="419.4" x2="2343.8" y2="1769.7" id="path24" />
            <line class="st5" x1="2193.6" y1="1394.3" x2="2193.6" y2="1769.7" id="path24" />
            <circle id="low" r="75" cx="2268" cy="1769" stroke="#ffcc29" stroke-width="30" stroke-dasharray="230, 600"
               fill="none" />

            <!-- Line 2 
            <polyline xmlns="http://www.w3.org/2000/svg" class="st1"
               points="1143.6,1394.3 2122.8,1394.3 3093.5,1394.3  " id="polyline16" />
            <polyline xmlns="http://www.w3.org/2000/svg" class="st1"
               points="3093.5,1394.3 3168.5,1356.7 3393.8,1169.1 3619,1018.9  " id="polyline14" />
            <line xmlns="http://www.w3.org/2000/svg" class="st1" x1="1144.7" y1="1394.3" x2="769.3" y2="1394.3"
               id="line1239" />
            <line xmlns="http://www.w3.org/2000/svg" class="st1" x1="769.3" y1="1394.3" x2="694.2" y2="1431.8"
               id="line616" />
            -->

            <!-- Line 1 Trains -->
            <line opacity="0.5" class="train1" x1="2343" y1="399" x2="2343" y2="439" id="train101" />
            <line opacity="0.5" class="train1" x1="2343" y1="399" x2="2343" y2="439" id="train102" />
            <line opacity="0.5" class="train1" x1="2343" y1="399" x2="2343" y2="439" id="train103" />
            <line opacity="0.5" class="train1" x1="2343" y1="399" x2="2343" y2="439" id="train104" />
            <line opacity="0.5" class="train1" x1="2343" y1="399" x2="2343" y2="439" id="train105" />
            <line opacity="0.5" class="train1" x1="2343" y1="399" x2="2343" y2="439" id="train106" />
            <line opacity="0.5" class="train1" x1="2343" y1="399" x2="2343" y2="439" id="train107" />
            <line opacity="0.5" class="train1" x1="2343" y1="399" x2="2343" y2="439" id="train108" />
            <line opacity="0.5" class="train1" x1="2343" y1="399" x2="2343" y2="439" id="train109" />
            <line opacity="0.5" class="train1" x1="2343" y1="399" x2="2343" y2="439" id="train110" />
            <line opacity="0.5" class="train1" x1="2343" y1="399" x2="2343" y2="439" id="train111" />
            <line opacity="0.5" class="train1" x1="2343" y1="399" x2="2343" y2="439" id="train112" />
            <line opacity="0.5" class="train1" x1="2343" y1="399" x2="2343" y2="439" id="train113" />
            <line opacity="0.5" class="train1" x1="2343" y1="399" x2="2343" y2="439" id="train114" />
            <line opacity="0.5" class="train1" x1="2343" y1="399" x2="2343" y2="439" id="train115" />
            <line opacity="0.5" class="train1" x1="2343" y1="399" x2="2343" y2="439" id="train116" />
            <line opacity="0.5" class="train1" x1="2343" y1="399" x2="2343" y2="439" id="train117" />
            <line opacity="0.5" class="train1" x1="2343" y1="399" x2="2343" y2="439" id="train118" />
            <line opacity="0.5" class="train1" x1="2343" y1="399" x2="2343" y2="439" id="train119" />
            <line opacity="0.5" class="train1" x1="2343" y1="399" x2="2343" y2="439" id="train120" />

            <!-- Line 4 Stations -->
            <circle class="st26" cx="2569" cy="569.5" r="13.9" id="circle969" />
            <circle class="st26" cx="2681.6" cy="569.5" r="13.9" id="circle971" />
            <circle class="st26" cx="2794.2" cy="569.5" r="13.9" id="circle973" />
            <circle class="st17" cx="2569" cy="569.5" r="10.7" id="circle975" />
            <circle class="st17" cx="2681.6" cy="569.5" r="10.7" id="circle977" />
            <circle class="st17" cx="2794.2" cy="569.5" r="10.7" id="circle979" />
            <circle class="st26" cx="2868.2" cy="569.5" r="13.9" id="circle2303" />
            <circle class="st17" cx="2868.3" cy="569.5" r="10.7" id="circle2305" />

            <!-- Line 1 Stations -->
            <circle xmlns="http://www.w3.org/2000/svg" class="st8" cx="2343.8" cy="569.5" r="13.9" id="circle983" />
            <circle xmlns="http://www.w3.org/2000/svg" class="st8" cx="2343.8" cy="1018.9" r="13.9" id="circle893" />
            <circle xmlns="http://www.w3.org/2000/svg" class="st8" cx="2343.8" cy="1394.3" r="13.9" id="circle534" />
            <circle xmlns="http://www.w3.org/2000/svg" class="st8" cx="2193.6" cy="1394.3" r="13.9" id="circle536" />
            <circle class="st17" cx="2343.8" cy="419.4" r="10.7" id="circle791" />
            <circle class="st17" cx="2343.8" cy="494.4" r="10.7" id="circle793" />
            <circle class="st17" cx="2343.8" cy="719.7" r="10.7" id="circle795" />
            <circle class="st17" cx="2343.8" cy="869.8" r="10.7" id="circle797" />
            <circle class="st17" cx="2343.8" cy="1094" r="10.7" id="circle799" />
            <circle class="st17" cx="2343.8" cy="1169.1" r="10.7" id="circle801" />
            <circle class="st17" cx="2343.8" cy="1244.1" r="10.7" id="circle803" />
            <circle class="st17" cx="2343.8" cy="1319.2" r="10.7" id="circle805" />
            <circle class="st17" cx="2193.6" cy="1469.4" r="10.7" id="circle809" />
            <circle class="st17" cx="2343.8" cy="1469.4" r="10.7" id="circle811" />
            <circle class="st17" cx="2193.6" cy="1544.4" r="10.7" id="circle813" />
            <circle class="st17" cx="2343.8" cy="1544.4" r="10.7" id="circle815" />
            <circle class="st17" cx="2193.6" cy="1619.5" r="10.7" id="circle817" />
            <circle class="st17" cx="2343.8" cy="1619.5" r="10.7" id="circle819" />
            <circle class="st17" cx="2193.6" cy="1694.6" r="10.7" id="circle821" />
            <circle class="st17" cx="2343.8" cy="1694.6" r="10.7" id="circle823" />
            <circle class="st17" cx="2193.6" cy="1769.7" r="10.7" id="circle825" />
            <circle class="st17" cx="2343.8" cy="1769.7" r="10.7" id="circle827" />
            <circle class="st17" cx="2268.7" cy="1844.7" r="10.7" id="circle829" />

            <!-- Line 2 Stations 
            <circle class="st17" cx="2044.5" cy="1394.3" r="10.7" id="circle745" />
            <circle class="st17" cx="1969.5" cy="1394.3" r="10.7" id="circle747" />
            <circle class="st17" cx="2044.5" cy="1394.3" r="10.7" id="circle749" />
            <circle class="st17" cx="1819.3" cy="1394.3" r="10.7" id="circle751" />
            <circle class="st17" cx="1894.4" cy="1394.3" r="10.7" id="circle753" />
            <circle class="st17" cx="1669.2" cy="1394.3" r="10.7" id="circle755" />
            <circle class="st17" cx="1744.2" cy="1394.3" r="10.7" id="circle757" />
            <circle class="st17" cx="1519" cy="1394.3" r="10.7" id="circle759" />
            <circle class="st17" cx="1594.1" cy="1394.3" r="10.7" id="circle761" />
            <circle class="st17" cx="1293.8" cy="1394.3" r="10.7" id="circle763" />
            <circle class="st17" cx="1443.9" cy="1394.3" r="10.7" id="circle765" />
            <circle class="st17" cx="694.2" cy="1431.8" r="10.7" id="circle767" />
            <circle class="st17" cx="2943.3" cy="1394.3" r="10.7" id="circle769" />
            <circle class="st17" cx="3018.4" cy="1394.3" r="10.7" id="circle771" />
            <circle class="st17" cx="2869.3" cy="1394.3" r="10.7" id="circle773" />
            <circle class="st17" cx="2794.2" cy="1394.3" r="10.7" id="circle775" />
            <circle class="st17" cx="2644.1" cy="1394.3" r="10.7" id="circle777" />
            <circle class="st17" cx="2719.2" cy="1394.3" r="10.7" id="circle779" />
            <circle class="st17" cx="2569" cy="1394.3" r="10.7" id="circle781" />
            <circle class="st17" cx="2418.8" cy="1394.3" r="10.7" id="circle783" />
            <circle class="st17" cx="2493.9" cy="1394.3" r="10.7" id="circle785" />
            <circle class="st17" cx="3093.5" cy="1394.3" r="10.7" id="circle787" />
            <circle xmlns="http://www.w3.org/2000/svg" class="st17" cx="2268.7" cy="1394.3" r="10.7" id="circle807"/>
            <circle xmlns="http://www.w3.org/2000/svg" class="st8" cx="2118.5" cy="1394.3" r="13.9" id="circle434"/>
            <circle xmlns="http://www.w3.org/2000/svg" class="st17" cx="1144.7" cy="1394.3" r="10.7" id="circle1245"/>
            <circle xmlns="http://www.w3.org/2000/svg" class="st17" cx="994.5" cy="1394.3" r="10.7" id="circle1251"/>
            <circle xmlns="http://www.w3.org/2000/svg" class="st17" cx="769.3" cy="1394.3" r="10.7" id="circle1247"/>
            <circle xmlns="http://www.w3.org/2000/svg" class="st17" cx="3168.5" cy="1356.7" r="10.7" id="circle843"/>
            <circle xmlns="http://www.w3.org/2000/svg" class="st17" cx="3393.8" cy="1169.1" r="10.7" id="circle789"/>
            <circle xmlns="http://www.w3.org/2000/svg" class="st8" cx="3619" cy="1018.9" r="13.9" id="circle2129"/>-->
         </g>
      </svg>
   </div>
   <script src="./js/scripts.js"></script>
   <script src="./js/svg-pan-zoom.min.js"></script>
   <script>
      // Don't use window.onLoad like this in production, because it can only listen to one function.
      svgPanZoom("#map", {
         zoomEnabled: true,
      });
   </script>
</body>

</html>