<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="./css/style.css" />
   <link rel="stylesheet" href="./css/map.css" />
   <link rel="stylesheet" href="./css/lines.css" />
   <title>TTC Live Map</title>
</head>

<body>
   <div class="container">
      <div class="tag">TTC <strong>Live</strong></div>
      <%- include ('partials/map') -%>
   </div>
   <script src="./js/scripts.js"></script>
   <script src="./js/svg-pan-zoom.min.js"></script>
   <script>
      // Don't use window.onLoad like this in production, because it can only listen to one function.
      svgPanZoom("#map", {
         zoomEnabled: true,
      });
   </script>
</body>

</html>