/* General CSS */
.hide {
    display: none;
}

/* Line 4 Eastbound */

.line-4-bayview-east{
    animation: line-4-bayview-east 4s ease-in-out forwards;
}

.line-4-bessarion-east{
    animation: line-4-bessarion-east 2s ease-in-out forwards;
}

.line-4-leslie-east{
    animation: line-4-leslie-east 2s ease-in-out forwards;
}

.line-4-don-mills-east{
    animation: line-4-don-mills-east 2s ease-in-out forwards;
}

/* Line 4 Eastbound Keyframes */

@keyframes line-4-bayview-east {
    from {transform: translateX(0px)}
    to {transform: translateX(225px)}
}

@keyframes line-4-bessarion-east {
    from {transform: translateX(225px)}
    to {transform: translateX(335px)}
}

@keyframes line-4-leslie-east {
    from {transform: translateX(335px)}
    to {transform: translateX(450px)}
}

@keyframes line-4-don-mills-east {
    from {transform: translateX(450px)}
    to {transform: translateX(522px)}
}

/* Line 4 Westbound */

.line-4-sheppard-east-west{
    animation: line-4-sheppard-east-west 4s ease-in-out forwards;
}

.line-4-bayview-west{
    animation: line-4-bayview-west 2s ease-in-out forwards;
}

.line-4-bessarion-west{
    animation: line-4-bessarion-west 2s ease-in-out forwards;
}

.line-4-leslie-west{
    animation: line-4-leslie-west 2s ease-in-out forwards;
}

/* Line 4 Westbound Keyframes */

@keyframes line-4-sheppard-east-west {
    from {transform: translateX(225px)}
    to {transform: translateX(0px)}
}

@keyframes line-4-bayview-west {
    from {transform: translateX(335px)}
    to {transform: translateX(225px)}
}

@keyframes line-4-bessarion-west {
    from {transform: translateX(450px)}
    to {transform: translateX(335px)}
}

@keyframes line-4-leslie-west {
    from {transform: translateX(522px)}
    to {transform: translateX(450px)}
}

/* Line 1 VMC */
.line-1-north-york-centre-vmc{animation: line-1-north-york-centre-vmc 2s ease-in-out forwards;}
.line-1-sheppard-yonge-vmc{animation: line-1-sheppard-yonge-vmc 2s ease-in-out forwards;}
.line-1-york-mills-vmc{animation: line-1-york-mills-vmc 2s ease-in-out forwards;}
.line-1-lawrence-vmc{animation: line-1-lawrence-vmc 2s ease-in-out forwards;}
.line-1-eglinton-vmc{animation: line-1-eglinton-vmc 2s ease-in-out forwards;}
.line-1-davisville-vmc{animation: line-1-davisville-vmc 2s ease-in-out forwards;}
.line-1-st-clair-vmc{animation: line-1-st-clair-vmc 2s ease-in-out forwards;}
.line-1-summerhill-vmc{animation: line-1-summerhill-vmc 2s ease-in-out forwards;}
.line-1-rosedale-vmc{animation: line-1-rosedale-vmc 2s ease-in-out forwards;}
.line-1-bloor-yonge-vmc{animation: line-1-bloor-yonge-vmc 2s ease-in-out forwards;}
.line-1-wellesley-vmc{animation: line-1-wellesley-vmc 2s ease-in-out forwards;}
.line-1-college-vmc{animation: line-1-college-vmc 2s ease-in-out forwards;}
.line-1-dundas-vmc{animation: line-1-dundas-vmc 2s ease-in-out forwards;}
.line-1-queen-vmc{animation: line-1-queen-vmc 2s ease-in-out forwards;}
.line-1-king-vmc{animation: line-1-king-vmc 2s ease-in-out forwards;}
.line-1-union-vmc{animation: line-1-union-vmc 2s ease-in-out forwards;}
.line-1-st-andrew-vmc{animation: line-1-st-andrew-vmc 2s ease-in-out forwards;}
.line-1-osgoode-vmc{animation: line-1-osgoode-vmc 2s ease-in-out forwards;}
.line-1-st-patrick-vmc{animation: line-1-st-patrick-vmc 2s ease-in-out forwards;}
.line-1-queens-park-vmc{animation: line-1-queens-park-vmc 2s ease-in-out forwards;}
.line-1-museum-vmc{animation: line-1-museum-vmc 2s ease-in-out forwards;}
.line-1-st-george-vmc{animation: line-1-st-george-vmc 2s ease-in-out forwards;}


/* Line 1 Finch to VMC Keyframes*/
@keyframes line-1-north-york-centre-vmc {
    from {transform: translateY(0px)}
    to {transform: translateY(75px)}
}

@keyframes line-1-sheppard-yonge-vmc {
    from {transform: translateY(75px)}
    to {transform: translateY(150px)}
}

@keyframes line-1-york-mills-vmc {
    from {transform: translateY(150px)}
    to {transform: translateY(300px)}
}

@keyframes line-1-lawrence-vmc {
    from {transform: translateY(300px)}
    to {transform: translateY(450px)}
}

@keyframes line-1-eglinton-vmc {
    from {transform: translateY(450px)}
    to {transform: translateY(600px)}
}

@keyframes line-1-davisville-vmc {
    from {transform: translateY(600px)}
    to {transform: translateY(675px)}
}

@keyframes line-1-st-clair-vmc {
    from {transform: translateY(675px)}
    to {transform: translateY(750px)}
}

@keyframes line-1-summerhill-vmc {
    from {transform: translateY(750px)}
    to {transform: translateY(825px)}
}

@keyframes line-1-rosedale-vmc {
    from {transform: translateY(825px)}
    to {transform: translateY(900px)}
}

@keyframes line-1-bloor-yonge-vmc {
    from {transform: translateY(900px)}
    to {transform: translateY(975px)}
}

@keyframes line-1-wellesley-vmc {
    from {transform: translateY(975px)}
    to {transform: translateY(1050px)}
}

@keyframes line-1-college-vmc {
    from {transform: translateY(1050px)}
    to {transform: translateY(1125px)}
}

@keyframes line-1-dundas-vmc {
    from {transform: translateY(1125px)}
    to {transform: translateY(1200px)}
}

@keyframes line-1-queen-vmc {
    from {transform: translateY(1200px)}
    to {transform: translateY(1275px)}
}

@keyframes line-1-king-vmc {
    from {transform: translateY(1275px)}
    to {transform: translateY(1350px)}
}

@keyframes line-1-union-vmc {
    from {
        transform: rotate(0deg) translateY(1350px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(90deg) translateY(1350px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-st-andrew-vmc {
    from {
        transform: rotate(90deg) translateY(1350px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(180deg) translateY(1350px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-osgoode-vmc {
    from {
        transform: rotate(180deg) translateY(1350px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(180deg) translateY(1425px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-st-patrick-vmc {
    from {
        transform: rotate(180deg) translateY(1425px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(180deg) translateY(1500px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-queens-park-vmc {
    from {
        transform: rotate(180deg) translateY(1500px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(180deg) translateY(1575px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-museum-vmc {
    from {
        transform: rotate(180deg) translateY(1575px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(180deg) translateY(1650px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-st-george-vmc {
    from {
        transform: rotate(180deg) translateY(1650px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(180deg) translateY(1725px);
        transform-origin: 2268px 1769px;
    }
}

/* Line 1 VMC to Finch */
.line-1-finch-fin{animation: line-1-finch-fin 2s ease-in-out forwards;}
.line-1-north-york-centre-fin{animation: line-1-north-york-centre-fin 2s ease-in-out forwards;}
.line-1-sheppard-yonge-fin{animation: line-1-sheppard-yonge-fin 2s ease-in-out forwards;}
.line-1-york-mills-fin{animation: line-1-york-mills-fin 2s ease-in-out forwards;}
.line-1-lawrence-fin{animation: line-1-lawrence-fin 2s ease-in-out forwards;}
.line-1-eglinton-fin{animation: line-1-eglinton-fin 2s ease-in-out forwards;}
.line-1-davisville-fin{animation: line-1-davisville-fin 2s ease-in-out forwards;}
.line-1-st-clair-fin{animation: line-1-st-clair-fin 2s ease-in-out forwards;}
.line-1-summerhill-fin{animation: line-1-summerhill-fin 2s ease-in-out forwards;}
.line-1-rosedale-fin{animation: line-1-rosedale-fin 2s ease-in-out forwards;}
.line-1-bloor-yonge-fin{animation: line-1-bloor-yonge-fin 2s ease-in-out forwards;}
.line-1-wellesley-fin{animation: line-1-wellesley-fin 2s ease-in-out forwards;}
.line-1-college-fin{animation: line-1-college-fin 2s ease-in-out forwards;}
.line-1-dundas-fin{animation: line-1-dundas-fin 2s ease-in-out forwards;}
.line-1-queen-fin{animation: line-1-queen-fin 2s ease-in-out forwards;}
.line-1-king-fin{animation: line-1-king-fin 2s ease-in-out forwards;}
.line-1-union-fin{animation: line-1-union-fin 2s ease-in-out forwards;}
.line-1-st-andrew-fin{animation: line-1-st-andrew-fin 2s ease-in-out forwards;}
.line-1-osgoode-fin{animation: line-1-osgoode-fin 2s ease-in-out forwards;}
.line-1-st-patrick-fin{animation: line-1-st-patrick-fin 2s ease-in-out forwards;}
.line-1-queens-park-fin{animation: line-1-queens-park-fin 2s ease-in-out forwards;}
.line-1-museum-fin{animation: line-1-museum-fin 2s ease-in-out forwards;}
.line-1-st-george-fin{animation: line-1-st-george-fin 2s ease-in-out forwards;}

/* Line 1 VMC to Finch Keyframes*/
@keyframes line-1-finch-fin {
    from {transform: translateY(75px)}
    to {transform: translateY(0px)}
}

@keyframes line-1-north-york-centre-fin {
    from {transform: translateY(150px)}
    to {transform: translateY(75px)}
}

@keyframes line-1-sheppard-yonge-fin {
    from {transform: translateY(300px)}
    to {transform: translateY(150px)}
}

@keyframes line-1-york-mills-fin {
    from {transform: translateY(450px)}
    to {transform: translateY(300px)}
}

@keyframes line-1-lawrence-fin {
    from {transform: translateY(600px)}
    to {transform: translateY(450px)}
}

@keyframes line-1-eglinton-fin {
    from {transform: translateY(675px)}
    to {transform: translateY(600px)}
}

@keyframes line-1-davisville-fin {
    from {transform: translateY(750px)}
    to {transform: translateY(675px)}
}

@keyframes line-1-st-clair-fin {
    from {transform: translateY(825px)}
    to {transform: translateY(750px)}
}

@keyframes line-1-summerhill-fin {
    from {transform: translateY(900px)}
    to {transform: translateY(825px)}
}

@keyframes line-1-rosedale-fin {
    from {transform: translateY(975px)}
    to {transform: translateY(900px)}
}

@keyframes line-1-bloor-yonge-fin {
    from {transform: translateY(1050px)}
    to {transform: translateY(975px)}
}

@keyframes line-1-wellesley-fin {
    from {transform: translateY(1125px)}
    to {transform: translateY(1050px)}
}

@keyframes line-1-college-fin {
    from {transform: translateY(1200px)}
    to {transform: translateY(1125px)}
}

@keyframes line-1-dundas-fin {
    from {transform: translateY(1275px)}
    to {transform: translateY(1200px)}
}

@keyframes line-1-queen-fin {
    from {transform: translateY(1350px)}
    to {transform: translateY(1275px)}
}

@keyframes line-1-king-fin {
    from {
        transform: rotate(90deg) translateY(1350px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(0deg) translateY(1350px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-union-fin {
    from {
        transform: rotate(180deg) translateY(1350px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(90deg) translateY(1350px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-st-andrew-fin {
    from {
        transform: rotate(180deg) translateY(1425px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(180deg) translateY(1350px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-osgoode-fin {
    from {
        transform: rotate(180deg) translateY(1500px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(180deg) translateY(1425px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-st-patrick-fin {
    from {
        transform: rotate(180deg) translateY(1575px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(180deg) translateY(1500px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-queens-park-fin {
    from {
        transform: rotate(180deg) translateY(1650px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(180deg) translateY(1575px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-museum-fin {
    from {
        transform: rotate(180deg) translateY(1725px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(180deg) translateY(1650px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-st-george-fin {
    from {
        transform: rotate(180deg) translateY(1650px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(180deg) translateY(1725px);
        transform-origin: 2268px 1769px;
    }
}