/* Line 4 Eastbound */

.line-4-bayview-east{
    animation: line-4-bayview-east 4s ease-in-out forwards;
}

.line-4-bessarion-east{
    animation: line-4-bessarion-east 2s ease-in-out forwards;
}

.line-4-leslie-east{
    animation: line-4-leslie-east 2s ease-in-out forwards;
}

.line-4-don-mills-east{
    animation: line-4-don-mills-east 2s ease-in-out forwards;
}

/* Line 4 Eastbound Keyframes */

@keyframes line-4-bayview-east {
    from {transform: translateX(0px)}
    to {transform: translateX(225px)}
}

@keyframes line-4-bessarion-east {
    from {transform: translateX(225px)}
    to {transform: translateX(335px)}
}

@keyframes line-4-leslie-east {
    from {transform: translateX(335px)}
    to {transform: translateX(450px)}
}

@keyframes line-4-don-mills-east {
    from {transform: translateX(450px)}
    to {transform: translateX(522px)}
}

/* Line 4 Westbound */

.line-4-sheppard-east-west{
    animation: line-4-sheppard-east-west 4s ease-in-out forwards;
}

.line-4-bayview-west{
    animation: line-4-bayview-west 2s ease-in-out forwards;
}

.line-4-bessarion-west{
    animation: line-4-bessarion-west 2s ease-in-out forwards;
}

.line-4-leslie-west{
    animation: line-4-leslie-west 2s ease-in-out forwards;
}

/* Line 4 Westbound Keyframes */

@keyframes line-4-sheppard-east-west {
    from {transform: translateX(225px)}
    to {transform: translateX(0px)}
}

@keyframes line-4-bayview-west {
    from {transform: translateX(335px)}
    to {transform: translateX(225px)}
}

@keyframes line-4-bessarion-west {
    from {transform: translateX(450px)}
    to {transform: translateX(335px)}
}

@keyframes line-4-leslie-west {
    from {transform: translateX(522px)}
    to {transform: translateX(450px)}
}

/* Line 1 Finch to VMC */
.line-1-north-york-centre-south{animation: line-1-north-york-centre-south 2s ease-in-out forwards;}
.line-1-sheppard-yonge-south{animation: line-1-sheppard-yonge-south 2s ease-in-out forwards;}
.line-1-york-mills-south{animation: line-1-york-mills-south 2s ease-in-out forwards;}
.line-1-lawrence-south{animation: line-1-lawrence-south 2s ease-in-out forwards;}
.line-1-eglinton-south{animation: line-1-eglinton-south 2s ease-in-out forwards;}
.line-1-davisville-south{animation: line-1-davisville-south 2s ease-in-out forwards;}
.line-1-st-clair-south{animation: line-1-st-clair-south 2s ease-in-out forwards;}
.line-1-summerhill-south{animation: line-1-summerhill-south 2s ease-in-out forwards;}
.line-1-rosedale-south{animation: line-1-rosedale-south 2s ease-in-out forwards;}
.line-1-bloor-yonge-south{animation: line-1-bloor-yonge-south 2s ease-in-out forwards;}
.line-1-wellesley-south{animation: line-1-wellesley-south 2s ease-in-out forwards;}
.line-1-college-south{animation: line-1-college-south 2s ease-in-out forwards;}
.line-1-dundas-south{animation: line-1-dundas-south 2s ease-in-out forwards;}
.line-1-queen-south{animation: line-1-queen-south 2s ease-in-out forwards;}
.line-1-king-south{animation: line-1-king-south 2s ease-in-out forwards;}
.line-1-union-south{animation: line-1-union-south 2s ease-in-out forwards;}
.line-1-st-andrew-north{animation: line-1-st-andrew-north 2s ease-in-out forwards;}
.line-1-osgoode-north{animation: line-1-osgoode-north 2s ease-in-out forwards;}
.line-1-st-patrick-north{animation: line-1-st-patrick-north 2s ease-in-out forwards;}
.line-1-queens-park-north{animation: line-1-queens-park-north 2s ease-in-out forwards;}
.line-1-museum-north{animation: line-1-museum-north 2s ease-in-out forwards;}
.line-1-st-george-north{animation: line-1-st-george-north 2s ease-in-out forwards;}


/* Line 1 Finch to VMC Keyframes*/
@keyframes line-1-north-york-centre-south {
    from {transform: translateY(0px)}
    to {transform: translateY(75px)}
}

@keyframes line-1-sheppard-yonge-south {
    from {transform: translateY(75px)}
    to {transform: translateY(150px)}
}

@keyframes line-1-york-mills-south {
    from {transform: translateY(150px)}
    to {transform: translateY(300px)}
}

@keyframes line-1-lawrence-south {
    from {transform: translateY(300px)}
    to {transform: translateY(450px)}
}

@keyframes line-1-eglinton-south {
    from {transform: translateY(450px)}
    to {transform: translateY(600px)}
}

@keyframes line-1-davisville-south {
    from {transform: translateY(600px)}
    to {transform: translateY(675px)}
}

@keyframes line-1-st-clair-south {
    from {transform: translateY(675px)}
    to {transform: translateY(750px)}
}

@keyframes line-1-summerhill-south {
    from {transform: translateY(750px)}
    to {transform: translateY(825px)}
}

@keyframes line-1-rosedale-south {
    from {transform: translateY(825px)}
    to {transform: translateY(900px)}
}

@keyframes line-1-bloor-yonge-south {
    from {transform: translateY(900px)}
    to {transform: translateY(975px)}
}

@keyframes line-1-wellesley-south {
    from {transform: translateY(975px)}
    to {transform: translateY(1050px)}
}

@keyframes line-1-college-south {
    from {transform: translateY(1050px)}
    to {transform: translateY(1125px)}
}

@keyframes line-1-dundas-south {
    from {transform: translateY(1125px)}
    to {transform: translateY(1200px)}
}

@keyframes line-1-queen-south {
    from {transform: translateY(1200px)}
    to {transform: translateY(1275px)}
}

@keyframes line-1-king-south {
    from {transform: translateY(1275px)}
    to {transform: translateY(1350px)}
}

@keyframes line-1-union-south {
    from {
        transform: rotate(0deg) translateY(1350px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(90deg) translateY(1350px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-st-andrew-north {
    from {
        transform: rotate(90deg) translateY(1350px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(180deg) translateY(1350px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-osgoode-north {
    from {
        transform: rotate(180deg) translateY(1350px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(180deg) translateY(1425px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-st-patrick-north {
    from {
        transform: rotate(180deg) translateY(1425px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(180deg) translateY(1500px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-queens-park-north {
    from {
        transform: rotate(180deg) translateY(1500px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(180deg) translateY(1575px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-museum-north {
    from {
        transform: rotate(180deg) translateY(1575px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(180deg) translateY(1650px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-st-george-north {
    from {
        transform: rotate(180deg) translateY(1650px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(180deg) translateY(1725px);
        transform-origin: 2268px 1769px;
    }
}

/* Line 1 VMC to Finch */
.line-1-finch-north{animation: line-1-finch-north 2s ease-in-out forwards;}
.line-1-north-york-centre-north{animation: line-1-north-york-centre-north 2s ease-in-out forwards;}
.line-1-sheppard-yonge-north{animation: line-1-sheppard-yonge-north 2s ease-in-out forwards;}
.line-1-york-mills-north{animation: line-1-york-mills-north 2s ease-in-out forwards;}
.line-1-lawrence-north{animation: line-1-lawrence-north 2s ease-in-out forwards;}
.line-1-eglinton-north{animation: line-1-eglinton-north 2s ease-in-out forwards;}
.line-1-davisville-north{animation: line-1-davisville-north 2s ease-in-out forwards;}
.line-1-st-clair-north{animation: line-1-st-clair-north 2s ease-in-out forwards;}
.line-1-summerhill-north{animation: line-1-summerhill-north 2s ease-in-out forwards;}
.line-1-rosedale-north{animation: line-1-rosedale-north 2s ease-in-out forwards;}
.line-1-bloor-yonge-north{animation: line-1-bloor-yonge-north 2s ease-in-out forwards;}
.line-1-wellesley-north{animation: line-1-wellesley-north 2s ease-in-out forwards;}
.line-1-college-north{animation: line-1-college-north 2s ease-in-out forwards;}
.line-1-dundas-north{animation: line-1-dundas-north 2s ease-in-out forwards;}
.line-1-queen-north{animation: line-1-queen-north 2s ease-in-out forwards;}
.line-1-king-north{animation: line-1-king-north 2s ease-in-out forwards;}
.line-1-union-right{animation: line-1-union-right 2s ease-in-out forwards;}
.line-1-st-andrew-south{animation: line-1-st-andrew-south 2s ease-in-out forwards;}
.line-1-osgoode-south{animation: line-1-osgoode-south 2s ease-in-out forwards;}
.line-1-st-patrick-south{animation: line-1-st-patrick-south 2s ease-in-out forwards;}
.line-1-queens-park-south{animation: line-1-queens-park-south 2s ease-in-out forwards;}
.line-1-museum-south{animation: line-1-museum-south 2s ease-in-out forwards;}
.line-1-st-george-south{animation: line-1-st-george-south 2s ease-in-out forwards;}

/* Line 1 VMC to Finch Keyframes*/
@keyframes line-1-finch-north {
    from {transform: translateY(75px)}
    to {transform: translateY(0px)}
}

@keyframes line-1-north-york-centre-north {
    from {transform: translateY(150px)}
    to {transform: translateY(75px)}
}

@keyframes line-1-sheppard-yonge-north {
    from {transform: translateY(300px)}
    to {transform: translateY(150px)}
}

@keyframes line-1-york-mills-north {
    from {transform: translateY(450px)}
    to {transform: translateY(300px)}
}

@keyframes line-1-lawrence-north {
    from {transform: translateY(600px)}
    to {transform: translateY(450px)}
}

@keyframes line-1-eglinton-north {
    from {transform: translateY(675px)}
    to {transform: translateY(600px)}
}

@keyframes line-1-davisville-north {
    from {transform: translateY(750px)}
    to {transform: translateY(675px)}
}

@keyframes line-1-st-clair-north {
    from {transform: translateY(825px)}
    to {transform: translateY(750px)}
}

@keyframes line-1-summerhill-north {
    from {transform: translateY(900px)}
    to {transform: translateY(825px)}
}

@keyframes line-1-rosedale-north {
    from {transform: translateY(975px)}
    to {transform: translateY(900px)}
}

@keyframes line-1-bloor-yonge-north {
    from {transform: translateY(1050px)}
    to {transform: translateY(975px)}
}

@keyframes line-1-wellesley-north {
    from {transform: translateY(1125px)}
    to {transform: translateY(1050px)}
}

@keyframes line-1-college-north {
    from {transform: translateY(1200px)}
    to {transform: translateY(1125px)}
}

@keyframes line-1-dundas-north {
    from {transform: translateY(1275px)}
    to {transform: translateY(1200px)}
}

@keyframes line-1-queen-north {
    from {transform: translateY(1350px)}
    to {transform: translateY(1275px)}
}

@keyframes line-1-king-north {
    from {
        transform: rotate(90deg) translateY(1350px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(0deg) translateY(1350px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-union-right {
    from {
        transform: rotate(180deg) translateY(1350px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(90deg) translateY(1350px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-st-andrew-south {
    from {
        transform: rotate(180deg) translateY(1425px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(180deg) translateY(1350px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-osgoode-south {
    from {
        transform: rotate(180deg) translateY(1500px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(180deg) translateY(1425px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-st-patrick-south {
    from {
        transform: rotate(180deg) translateY(1575px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(180deg) translateY(1500px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-queens-park-south {
    from {
        transform: rotate(180deg) translateY(1650px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(180deg) translateY(1575px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-museum-south {
    from {
        transform: rotate(180deg) translateY(1725px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(180deg) translateY(1650px);
        transform-origin: 2268px 1769px;
    }
}

@keyframes line-1-st-george-south {
    from {
        transform: rotate(180deg) translateY(1650px);
        transform-origin: 2268px 1769px;
    }
    to {
        transform: rotate(180deg) translateY(1725px);
        transform-origin: 2268px 1769px;
    }
}